div#card(class="bg-red-200 w-full p-8 flex flex-col-reverse md:flex-row md:justify-center md:items-center mt-12")
	div#card-content(class="md:w-3/5  border border-black")
		h2(class="text-3xl") NetBase on tour
		p(class="text-lg") Event microsite for company's seminars and conferences
	div#card-media(class="md:w-2/5  md:ml-12")
		img.u-max-responsive-img(src="https://www.mamp.info/__we_thumbs__/1284_4_MAMP-PRO-MacBook-Pro.png")
div#card(class="bg-purple-200 w-full p-8 md:flex flex-row-reverse md:justify-center md:items-center mt-12")
	div#card-content(class="md:w-3/5  border border-black")
		h2(class="text-3xl") NetBase on tour
		p(class="text-lg") Event microsite for company's seminars and conferences
	div#card-media(class="md:w-2/5  md:mr-12")
		img.u-max-responsive-img(src="https://www.mamp.info/__we_thumbs__/1284_4_MAMP-PRO-MacBook-Pro.png")
