<!doctype html >
<html lang="en">
	<body>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ renderData.title or title or metadata.title }}</title>
			<meta name="Description" content="{{ renderData.description or description or metadata.description }}">
			<link rel="stylesheet" href="{% cssBundle %}">

		</head>
		<body>
			{% include "../components/main.njk"%}

		</body>
		<script src="{% jsBundle %}"></script>
	</html>
