extends ../_includes/layouts/default.pug

block content
	section
		h1(class="hero fade-in")
			span(class="text-custom-blue") Hello!&nbsp;
			| My name is Victor - a Front-End Developer passionate about User Experience and creating functional and performant websites.
	section
		h2(class="mt-16 mb-8 md:mb-4 uppercase") Featured Projects
		div(class="md:flex md:flex-wrap md:-mx-4 lg:-mx-6")
			+portfolioList
