extends ../_includes/layouts/default.pug

block content
	section
		h1(class="text-2xl lg:text-3xl leading-tight")
			span(class="text-custom-blue") Hello!&nbsp;
			| My name is Victor - a Front-End Developer passionate about User Experience and creating functional and performant websites.
	section
		h2(class="mt-16 mb-8 uppercase") Featured Projects
		div
			+portfolioList
