.headline-1 {
	@apply text-3xl;
}
.headline-2 {
	@apply text-2xl;
}

.headline-3 {
	@apply text-xl;
}

// @screen lg {
// 	.headline-1 {
// 		@apply text-3xl;
// 	}
// 	.headline-2 {
// 		@apply text-2xl;
// 	}
// 	.headline-3 {
// 		@apply text-xl;
// 	}
// }
