mixin projectStats
	<div class="container">
	<table class="border border-gray-500">
		<thead>
			<tr class=" border-b border-gray-500 text-center text-lg font-semibold">
				<th class="py-4 px-8"></th>
				<th class="py-4 px-8">Before</th>
				<th class="py-4 px-8">After</th>

			</tr>
		</thead>
		<tbody>
			<tr class="border-b border-gray-500">
				<td class="py-4 px-8 text-left">First Contentful Paint</td>
				<td class="py-4 px-8 text-center">0.8 s</td>
				<td class="py-4 px-8 text-center">0.9 s</td>
			</tr>
			<tr class="border-b border-gray-500">
				<td class="py-4 px-8 text-left">Speed Index</td>
				<td class="py-4 px-8 text-center">0.8 s</td>
				<td class="py-4 px-8 text-center">1.1 s</td>
			</tr>
				<tr class="border-b border-gray-500">
				<td class="py-4 px-8 text-left">Time to Interactive</td>
				<td class="py-4 px-8 text-center">3.6 s</td>
				<td class="py-4 px-8 text-center">0.9 s</td>
			</tr>
				<tr class="border-b border-gray-500">
				<td class="py-4 px-8 text-left">First Meaningful Paint</td>
				<td class="py-4 px-8 text-center">0.8 s</td>
				<td class="py-4 px-8 text-center">0.9 s</td>
			</tr>
				<tr class="border-b border-gray-500">
				<td class="py-4 px-8 text-left">First CPU Idle</td>
				<td class="py-4 px-8 text-center">3.1 s</td>
				<td class="py-4 px-8 text-center">0.9 s</td>
			</tr>
				<tr class="border-b border-gray-500">
				<td class="py-4 px-8 text-left">Max Potential First Input Delay</td>
				<td class="py-4 px-8 text-center">100 ms</td>
				<td class="py-4 px-8 text-center">20 ms</td>
			</tr>
		</tbody>
	</table>
</div>
