@charset "UTF-8";
@import "./core/generic_boxsizing";
@import "./vendors/tailwind";

@import "./utils/variables";
@import "./utils/utilities";

@import "./components/header";
@import "./components/footer";
@import "./components/card";
