footer(class="footer-bg py-6 text-white text-center font-light")
	ul(class="flex items-center justify-center my-4")
		li(class="mx-4")
			a(class="block p-3 border border-white" href=site.linkedIn title="view linkedin portfolio")
				svg(width="1em", height="1em")
					use(xlink:href= "#icon-linkedin")
		li(class="mx-4")
			a(class="block p-3 border border-white" href=site.github title="view github portfolio")
				svg(width="1em", height="1em")
					use(xlink:href= "#icon-github")
		li(class="mx-4")
			a(class="block p-3 border border-white" href=`mailto:${site.email}` title="send me an email")
				svg(width="1em", height="1em")
					use(xlink:href= "#icon-email")
	p Made by Victor Tsang &copy; #{manifest['year']}
